.text-pink{
    color:rgb(255, 192, 203);
}
.text-blue{
    color:skyblue;
}
.text-pink{
    text-align:center;
}
.text-blue{
    text-align:center;
}
.decoration{
   text-align:center;
}
p{
    text-align:center;
}
.decoration{
    font-size:40px;
}
.decoration{
    letter-spacing:1.2em;
}
.decoration{
    border-bottom:solid 3px rgb(115, 115, 114);
}
.decoration{
    text-shadow: 10px 10px 10px gray;
}

body{
    font-family:"Arial", "Meiryo", sans-serif;
}
.google-fonts{
    font-family: 'Noto Serif JP', serif;
}
#parent p {
    font-weight:300;
  }